.div4{width: 321px;
    height: 321px;background-repeat: no-repeat;}
.div3{width: 396px;
    height: 396px;background-repeat: no-repeat;}.div4{background-position:0px 0px}.div3{background-position:-75px -399px}.div4,.div3{background-image: url(/demo/static/css_z_a418ec3.png)}