* { margin: 0; padding: 0; }
ol, ul { list-style: none; }
a:link, a:visited, ins { text-decoration: none; }
img{border:none}

body { background-color: #FFFFFF; font-family: "微软雅黑", "宋体", "黑体", Arial; }

.menu { height: 40px; background: url(../images/menu_bg_1.gif) no-repeat -99px bottom; padding-top:40px; z-index: 100; background-position: 0px 100%; margin:0 auto; width:700px }
.menu li { float: left; font-size: 14px; text-align: center; line-height: 18px; padding: 0; }
.menu li.lihover, .menu li.licurrent { padding-bottom: 15px; border-bottom: 3px solid #FE7700; }
.menu li a { padding: 2px 35px; border-right: 1px solid #D7D7D7; color: #242424; font-weight: bold; margin: 0; border-left: none; display: inline-block; font-size: 14px; width: 30px; }
.menu li a.noborder { border-right: none; }
.li_3 { position: relative; z-index: 100; }
.li_3 a.noclick { width: 60px; }
.li_3_content { position: absolute; top: 20px; left: 0px; line-height: 40px; z-index: 99; display: none; height: 188px; *top: 18px; width: 130px; }
.li_3_content a:hover { color: #f18336 !important; }
.li_3_content dt { height: 17px; border-bottom: 3px solid #FE7700; *height: 19px; line-height: 17px; }
.li_3_content dd { border-left: 1px solid #E6E4E3; border-right: 1px solid #E6E4E3; padding: 0 8px; background: #ffffff url(../images/menu.gif) no-repeat bottom; }
.li_3_content dd a { text-align: center; padding: 0; border-right: none; color: #666; font-weight: normal; width: auto; }
.li_3_content dd.lastItem { background-image: none; border-bottom: 1px solid #E6E4E3; }
.li_3_content dd.lastItem a { border-bottom: none; }




#n{margin:10px auto; width:920px; border:1px solid #CCC;font-size:12px; line-height:30px;}
#n a{ padding:0 4px; color:#333}